                    
            <h5 class="sidebartitle">Navigation</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li class="nav-parent active"><a href=""><i class="fa fa-gamepad"></i> <span>Partidos activos</span></a>
                  <ul class="children">
                    <li><a href="{{ asset ('app_dev.php/admin/padel/amigo/user/create') }}"><i class="fa fa-caret-right"></i>Ver todos</a></li>
                    <li><a href="{{ asset ('app_dev.php/admin/padel/amigo/user/list') }}"><i class="fa fa-caret-right"></i>Nuevo</a></li>
                  </ul>
                </li>
                <li><a href="#"><i class="fa fa-suitcase"></i> <span>Clubes</span></a></li>
                <li><a href="#"><span class="pull-right badge badge-success">2</span><i class="fa fa-envelope-o"></i> <span>Mensajes</span></a></li>
                
                
                <li class="nav-parent"><a href="#"><i class="fa fa-group"></i> <span>Mis grupos</span></a>
                  <ul class="children">
                    <li><a href="#"><i class="fa fa-caret-right"></i>Listado</a></li>
                    <li><a href="#"><i class="fa fa-caret-right"></i>Buscar</a></li>
                    <li><a href="#"><i class="fa fa-caret-right"></i>Nuevo</a></li>
                  </ul>
                </li>
                
                <li><a href="#"><i class="fa fa-rss-square"></i> <span>Torneos</span></a></li>
                <li><a href="#"><i class="fa fa-tag"></i> <span>Foro</span></a></li>
            </ul>           
