                    
            <h5 class="sidebartitle">Navigation</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket">
                <li class="active"><a href="admin/dashboard"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                <li><a href="#"><span class="pull-right badge badge-success">2</span><i class="fa fa-envelope-o"></i> <span>Email</span></a></li>
                <li class="nav-parent"><a href=""><i class="fa fa-user"></i> <span>Usuarios</span></a>
                  <ul class="children">
                    <li><a href="{{ asset ('app_dev.php/admin/padel/amigo/user/create') }}"><i class="fa fa-caret-right"></i>Nuevo</a></li>
                    <li><a href="{{ asset ('app_dev.php/admin/padel/amigo/user/list') }}"><i class="fa fa-caret-right"></i>Listado</a></li>
                  </ul>
                </li>
                <li class="nav-parent"><a href=""><i class="fa fa-suitcase"></i> <span>Clubes</span></a>
                  <ul class="children">
                    <li><a href="{{ asset ('app_dev.php/admin/padel/amigo/club/create') }}"><i class="fa fa-caret-right"></i>Nuevo</a></li>
                    <li><a href="{{ asset ('app_dev.php/admin/padel/amigo/club/list') }}"><i class="fa fa-caret-right"></i>Listado</a></li>
                  </ul>
                </li>
                <li><a href="#"><i class="fa fa-gamepad"></i> <span>Partidos</span></a></li>
                <li><a href="#"><i class="fa fa-group"></i> <span>Grupos</span></a></li>
                <li><a href="#"><i class="fa fa-laptop"></i> <span>Agenda</span></a></li>
                <li><a href="#"><i class="fa fa-lock"></i> <span>Bloqueos</span></a></li>
                <li><a href="#"><i class="fa fa-tag"></i> <span>Banners</span></a></li>
                <li><a href="#"><i class="fa fa-rss-square"></i> <span>Noticias</span></a></li>
            </ul>           
